
@{
    ViewData["Title"] = "About Us";
}

<p>
    The Real Estate Management system is a web application designed for any real estate agency, which has
    an intuitive and effortless to use to interface for both its agency owner and its customers. Here owners
    can log in with their given ID and password in order to manage the website. The owner can post the
    property that needs to be sold by the agency in the property listings. The owner of the agency can
    register and log into the website. Here the owner can browse through various properties listed on the
    website which enable the customer to find the property as per his/her requirements.
</p>
<p>
    This real estate management system is developed using the latest technologies available like HTML5,
    JavaScript ES6, MongoDB with the intention of incorporating innovative features and enhancing the
    existing ones to increase the overall efficiency of the system
</p>
